*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  line-height: 1.15; /* 1 */
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "TrebuchetMS", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: black;
  background-image: url("../img/back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}
